[submodule "common"]
	path = common
	url = ssh://git@github.com/vttrifonov/analysis.git
[submodule "gdc"]
	path = gdc
	url = ssh://git@github.com/vttrifonov/gdc.git
[submodule "go"]
	path = go
	url = ssh://git@github.com/vttrifonov/go.git
[submodule "ncbi"]
	path = ncbi
	url = ssh://git@github.com/vttrifonov/ncbi.git
[submodule "ensembl"]
	path = ensembl
	url = ssh://git@github.com/vttrifonov/ensembl.git
[submodule "depmap"]
	path = depmap
	url = ssh://git@github.com/vttrifonov/depmap.git
[submodule "ucsc-genome-browser"]
	path = ucsc-genome-browser
	url = ssh://git@github.com/vttrifonov/ucsc-genome-browser
[submodule "string"]
	path = string_db
	url = ssh://git@github.com/vttrifonov/string
