[submodule "common"]
	path = common
	url = ssh://git@github.com/vttrifonov/analysis.git
[submodule "gdc"]
	path = gdc
	url = ssh://git@github.com/vttrifonov/gdc.git
[submodule "go"]
	path = go
	url = ssh://git@github.com/vttrifonov/go.git
[submodule "ncbi"]
	path = ncbi
	url = ssh://git@github.com/vttrifonov/ncbi.git
[submodule "ensembl"]
	path = ensembl
	url = ssh://git@github.com/vttrifonov/ensembl.git
